<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>

    <title>Rejestracja nowego użytkownika</title>

</head>
<body>
<div class="big-blue-text">Rejestracja</div>
<form th:action="@{/home/registration}"
      th:object="${userForm}" method="POST">
    Imię:
    <input type="text" th:field="*{firstName}"/>
    <br/>
    Nazwisko:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    Nazwa użytkownika:
    <input type="text" th:field="*{nick}"/>
    <br/>
    e-mail:
    <input type="text" th:field="*{email}"/>
    <br/>
    Hasło:
    <input type="text" th:field="*{password}"/>
    <br/>
    Powtórz hasło:
    <input type="text" th:field="*{password}"/>
    <br/>
    <input type="submit" value="Dodaj użytkownika"/>
</form>

</body>
</html>