<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>

    <title>Rejestracja</title>
</head>
<body>
<div class="big-blue-text">Rejestracja</div>
<form th:action="@{/home/registration}"
      th:object="${userForm}" method="POST">
    <table >
        <tr>
            <td>
                Imię:
            </td>
            <td><input type="text" th:field="*{firstName}"/>
            </td>
        </tr>
        <br/>

        <tr>
            <td>
                Nazwisko:
            </td>
            <td>
                <input type="text" th:field="*{lastName}"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                Nick :
            </td>
            <td>
                <input type="text" th:field="*{nick}"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                e-mail:
            </td>
            <td>
                <input type="text" th:field="*{email}"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>Hasło:
            </td>
            <td>
                <input type="text" th:field="*{password}"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                Powtórz hasło:
            </td>
            <td>
                <input type="text" th:field="*{password}"/>
            </td>
        </tr>
        <br/>

    </table>
    <table class="person-table">
        <tr>
            <td>
                <form th:action="@{/home/login}">
                    <input type="submit" value="Dodaj użytkownika"/>
                </form>
            </td>
            <td>
                <form th:action="@{/home}">
                    <input type="submit" value="Strona główna"/>
                </form>
            </td>

        </tr>
        </thead>
    </table>

</form>

</body>
</html>