<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Tickets</title>
</head>
<body>
<table class="person-table">
    <caption>Dostępne bilety</caption>
    <thead>
    <tr>
        <th class="center">Lp</th>
        <th class="center">Sektor</th>
        <th class="center">Liczba biletów</th>
        <th class="center">Cena (EUR)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>A</td>
        <td>200</td>
        <td class="center">50</td>
    </tr>
    <tr>

        <td>2</td>
        <td>B</td>
        <td>200</td>
        <td>50</td>
    </tr>
    <tr>
        <td>3</td>
        <td>C</td>
        <td>200</td>
        <td>50</td>
    </tr>
    <tr>
        <td>4</td>
        <td>D</td>
        <td>400</td>
        <td>100</td>
    </tr>
    <tr>
        <td>5</td>
        <td>E</td>
        <td>400</td>
        <td>100</td>
    </tr>
    <tr>
        <td>5</td>
        <td>F</td>
        <td>400</td>
        <td>100</td>
    <tr>
        <td>5</td>
        <td>G</td>
        <td>800</td>
        <td>150</td>
    </tr>
    <tr>
        <td>5</td>
        <td>H</td>
        <td>800</td>
        <td>150</td>
    </tr>


    </tbody>
    <tfoot>  foot </tfoot>
</table>

</body>
</html>