<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>

    <title>Strona powitalna</title>
</head>
<body>

<div class="big-blue-text">
    WITAJ UŻYTKOWNIKU
</div>

<table >
    <tr>
        <td>
            <form th:action="@{/home/login}">
                <input type="submit" value="Zaloguj"/>
            </form>
        </td>
        <td>
            <form th:action="@{/home/registration}">
                <input type="submit" value="Nowy użytkownik"/>
            </form>
        </td>

    </tr>
    </thead>
</table>

</body>
</html>