<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>

    <title>Strona powitalna</title>
</head>
<body>

<div class="big-blue-text">
    WITAJ UŻYTKOWNIKU
</div>

<table >
    <tr>
        <td>
            <a style="background-blend-mode: unset" href="/home/login">Zaloguj</a>
        </td>
        <td>
            <a style="border: orangered" href="/home/registration">Nowy użytkownik</a>
        </td>
    </tr>
    </thead>
</table>

</body>
</html>