<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <style>
        body {
            color: darkblue;
        }
        p{
            font-size: 40px;
            color: orangered;
        }
    </style>
    <title>Strona powitalna</title>
</head>
<br>

<!--//<br action="ReadData" method="POST" target="_blank">-->
<div class="big-blue-text">
    WITAJ
</div>
<input type="button" name="ifLogin"  /> logowanie </br>
<input type="button" name="ifRegistration"  /> rejestracja</br>


</body>
</html>