<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>Logowanie</title>

</head>
<div>Logowanie</div>
<body>
<br >

<form action="/login"  method="get">
    <input type="text" name="username"> nazwa użytkownika </br>
    <input type="text" name="password"/> hasło</br>
</form>

<table class="person-table">
        <tr>
            <td >
                <form th:action="@{/home/login}" method="Post">
                <input type="submit" value="Zaloguj"/>
                </form>
            </td>
            <td>
                <form th:action="@{/home}" method="get">
                <input type="submit" value="Strona główna"/>
                </form>
            </td>

        </tr>
        </thead>
    </table>
</body>
</html>