<!DOCTYPE html>
<html lang ="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>Logowanie</title>

</head>
<div>Logowanie</div>
<body>
<br>

<table>

    <form action="/home/login" method="post">
        <input type="text" name="nick"> nazwa użytkownika </br>
        <input type="text" name="password"/> hasło</br>

        <tr>
            <td>
                <input class="button" type="submit" value="Zaloguj"/>
            </td>
    </form>
    <td>
        <a href="/home/">Strona główna</a>
    </td>
    </tr>
    </thead>
</table>
</body>
</html>