<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja nowego użytkownika</title>
    Rejestracja
</head>
<body>
<br action="ReadData" method="POST" target="_blank">
<input type="text" name="name" checked="checked" /> imię </br>
<input type="text" name="surname"  /> nazwisko </br>
<input type="text" name="nick"  /> nazwa użytkownika </br>
<input type="text" name="password" checked="checked" /> hasło</br>
<input type="text" name="password" checked="checked" /> powtórz hasło</br>
<input type="email" name="email" checked="checked" /> email</br>
</form>
</body>
</html>