<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>User's data</title>
</head>
<br>
<table class="person-table">
    <caption>Twoje dane</caption>
    <thead>
    <tr>
        <td>Alojzy</td>
        <td>Imię</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Masłowski</td>
        <td>Nazwisko</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Liczba kupionych biletow</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Liczba dostępnych biletów</td>
    </tr>
    </tbody>
</table>
<!--<table class="person-table">
    <caption>Twoje bilety</caption>
    <thead>
    <tr>
        <th class="center">Lp</th>
        <th class="center">Sektor</th>
        <th class="center">Liczba biletów</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>A</td>
        <td>200</td>
        <td class="center">50</td>
    </tr>
    </tbody>
</table>-->
</br>
<table class="person-table">
    <tr>
        <td>
            <form th:action="@{/home/availableTickets}">
                <input type="submit" value="Dostępne bilety"/>
            </form>
        </td>
        <td>
            <form th:action="@{/home/addCreditCard}">
                <input type="submit" value="Dodaj kartę kredytową"/>
            </form>
        </td>
        <td>
            <form th:action="@{/home}">
                <input type="submit" value="Wyloguj"/>
            </form>
        </td>

    </tr>
    </thead>
</table>
</body>
</html>